In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [2]:
# read in
file = "Resources/dcad_combined-Copy1.csv"
df = pd.read_csv(file)
df.head(3)

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,ACCOUNT_NUM,STREET_NUM,STREET_HALF_NUM,FULL_STREET_NAME,BLDG_ID,UNIT_ID,PROPERTY_CITY,PROPERTY_ZIPCODE,MAPSCO,NBHD_CD,LEGAL1,APPRAISAL_YR,IMPR_VAL,LAND_VAL,TOT_VAL,REVAL_YR,PREV_REVAL_YR,PREV_MKT_VAL,SPTD_CODE
0,2.82E+16,1029,NaN,TAMARA LN,NaN,NaN,GRAND PRAIRIE (DALLAS CO),750513060,51-M (DALLAS),4PSI03,TURNER HEIGHTS,2018,80500,23000,103500,2018,2017,76020,A11
1,2.82E+16,945,NaN,SW 4TH ST,NaN,NaN,GRAND PRAIRIE (DALLAS CO),750513040,51-M (DALLAS),4PSI03,TURNER HEIGHTS,2018,122500,23000,145500,2018,2017,129930,A11
2,2.82E+16,1805,NaN,WEDGEWOOD DR,NaN,NaN,GRAND PRAIRIE (DALLAS CO),750502208,41-S (DALLAS),4PSO05,WEDGEWOOD ESTATES REV,2018,133040,35000,168040,2018,2016,142500,A11

In [3]:
# Use Map to format all the columns :add $
df=pd.DataFrame(df)
df["TOTAL_VALUE"] = df["TOT_VAL"].map("${:.0f}".format)
#keep only 5 digit of zipcode
df['ZIPCODE'] = df['PROPERTY_ZIPCODE'].astype(str).str[:5]

df.head(3)

,ACCOUNT_NUM,STREET_NUM,STREET_HALF_NUM,FULL_STREET_NAME,BLDG_ID,UNIT_ID,PROPERTY_CITY,PROPERTY_ZIPCODE,MAPSCO,NBHD_CD,...,APPRAISAL_YR,IMPR_VAL,LAND_VAL,TOT_VAL,REVAL_YR,PREV_REVAL_YR,PREV_MKT_VAL,SPTD_CODE,TOTAL_VALUE,ZIPCODE
0,2.82E+16,1029,NaN,TAMARA LN,NaN,NaN,GRAND PRAIRIE (DALLAS CO),750513060,51-M (DALLAS),4PSI03,...,2018,80500,23000,103500,2018,2017,76020,A11,$103500,75051
1,2.82E+16,945,NaN,SW 4TH ST,NaN,NaN,GRAND PRAIRIE (DALLAS CO),750513040,51-M (DALLAS),4PSI03,...,2018,122500,23000,145500,2018,2017,129930,A11,$145500,75051
2,2.82E+16,1805,NaN,WEDGEWOOD DR,NaN,NaN,GRAND PRAIRIE (DALLAS CO),750502208,41-S (DALLAS),4PSO05,...,2018,133040,35000,168040,2018,2016,142500,A11,$168040,75050

In [ ]:

total_unique_records=df['ACCOUNT_NUM'].nunique()
#number_of_unique
average_house_value=round(df['TOTAL_VALUE'].mean(),2)
#average_price
#agg_value=df['TOTAL_VALUE'].sum()

#summery=pd.DataFrame({'total unique records':[total_unique_records],'average_house_value':[average_house_value],\'agg_value':[agg_value]})
#summery

In [ ]:
# Purchase Count
zipcount =df.groupby("ZIPCODE")["ACCOUNT_NUM"].count().to_frame(" number by zipcode")

zipcount=zipcount.sort_values(by='number by zipcode', ascending=False)
zipcount.head(10)
# Total Rev by gender
#genderT= purchase.groupby("Gender")["Price"].sum().to_frame("Total Rev amount")

#Players = purchase.groupby("Gender")["SN"].count().to_frame("Count of players")

# merge players with total rev by gender
#merge= genderT.merge(Players, left_index=True, right_index=True)
#add per person rev to the dataframe
#merge["Per person rev"] = round(merge["Total Rev amount"]/merge["Count of players"],2)